
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@100;300&display=swap');

.main {
  background-color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.div_main {
  margin: 4rem 5rem;
}

.h1 {
  font-size: 35px;
  font-weight: bolder;
  margin-bottom: 3rem;
  color: #1D1463;
}

.h2 {
  font-size: 24px;
  font-weight: bolder;
  color: #1D1463;
}

.text {
  font-size: 17px;
  text-align: justify;
  margin-bottom: 5px;
}

.hr {
  border: none; 
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .main {
    width: 100%;
  }

  .div_main{
    margin: 0 1rem 0 1rem !important ;
  }

  .h1 {
    margin-top: 2rem;
  }
}