.main {
  display: flex;
  background-color: #082C8C;
  margin-top: 15px;
  height: 3rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.img {
  height: 2rem;
  width: 30px;
  margin-top: 5px;
}