@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@100;300&display=swap');

/* Estilos para telas maiores */
.header {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 60px;
  padding: 0 20px;
  width: 100%;
}

.pageEspecial {
  color: #fff;
}

.display {
  display: flex;
  align-items: center;
}

.img {
  height: 3rem;
  width: 3rem;
}

.link_col_executivo {
  /* color: #fff; */
  text-decoration: none;
  font-size: 23px;
  font-weight: bolder;
  margin-right: 20px;
  margin-left: 10px;
}

.menu {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
}

.link {
  text-decoration: none;
  font-size: medium;
  margin-right: 20px;
}

.img_pesquisa {
  height: 2rem;
  width: 2rem;
}

/* Estilos para telas menores (menu hamburguer) */
@media (max-width: 1230px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 60px;
    padding: 0 20px;
    width: 100%;
  }

  .menuButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-left: auto; /* Mova o botão para a direita definindo a margem à esquerda para "auto" */
  }

  .menuButton .bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
    transition: transform 0.3s ease-in-out;
  }

  .menu {
    color: #000;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0; /* Posiciona à direita */
    background-color: #fff;
    width: 200px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    height: 100%;
  }

  .menu.open {
    padding: 10px;
    display: flex;
    transform: translateX(0);
    height: 100%;
  }

  .menu.open .links .link {
    margin-bottom: 25px;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  .img_pesquisa {
    height: 1.5rem;
    width: 1.5rem;
  }

  .display {
    display: flex;
    align-items: center;
  }
}