.main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  text-shadow: 1px 1px 1px #ababab;
  height: 60px;
  align-items: center;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7rem;
}

.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: medium;
}

.img {
  height: 3rem;
  width: 3rem;
}