/* .main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  text-shadow: 1px 1px 1px #ababab;
  height: 60px;
  align-items: center;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7rem;
}

.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: medium;
}

.img {
  height: 3rem;
  width: 3rem;
} */
/* Estilos para telas maiores */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 60px;
  padding: 0 20px;
  width: 100%;
}

.display {
  display: flex;
  align-items: center;
}

.img {
  height: 3rem;
  width: 3rem;
}

.menu {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: medium;
  margin-right: 20px;
}

/* Estilos para telas menores (menu hamburguer) */
@media (max-width: 768px) {
  .menuButton {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }

  .menuButton .bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
    transition: transform 0.3s ease-in-out;
  }

  .menu {
    display: none;
    flex-direction: column; /* Alteração para disposição em coluna */
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    width: 200px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .menu.open {
    display: flex;
    transform: translateX(0);
  }

  /* Adicione espaço entre links */
  .links {
    display: flex;
    flex-direction: column;
  }
}
