/* CSS OFICIAL */
.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  justify-content: center;
}

/* Estilos para a imagem de fundo da seção principal */
.backgroundImage {
  margin: 0;
  padding: 0;
  background-image: url('/images/det_main.jpeg');
  background-repeat: no-repeat;
}

/* Contêiner para o conteúdo principal */
.contentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('/images/det_main_inf.jpeg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* Estilos para imagens dentro do conteúdo principal */
.image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 80px;
  width: 30%;
}

/* Estilos específicos para uma imagem na primeira parte do conteúdo */
.logoImage {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-left: 2rem;
  width: 40%;
  height: 70%;
}

/* Contêiner para o conteúdo principal nível 1 */
.mainContentLevel1 {
  justify-content: space-around;
  margin-top: 40px;
  width: 60%;
  margin: 0;
  padding: 0;
  left: 0;
  background-image: url('/images/1.jpeg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center right;
}

/* Estilos para cabeçalhos <h1> dentro do conteúdo nível 1 */
.heading {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  justify-content: flex-start;
  font-size: 37px;
  font-weight: bolder;
}

/* Estilos para parágrafos de texto */
.paragraph {
  text-align: justify;
  margin-right: 3rem;
  margin-top: 10px;
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-size: 22px;
}

/* Contêiner para elementos de teste */
.contentContainer2 {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;
  left: 0;
  background-image: url('/images/2.jpeg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom left;
}

/* Estilos para a imagem da missão/visão */
@media (max-width: 767px) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  .main2 {
    flex-direction: column;
    align-items: center;
  }
  
  .image, .logoImage {
    width: 100%;
    margin: 2rem 0 0 0;
  }

  .mainContentLevel1 {
    width: 100%;
  }

  .mainContentLevel1, .mainContentLevel2 {
    background-image: none;
  }
  
  .contentContainer2 {
    background-image: none;
  }

  .heading {
    font-size: 30px;
    margin-left: 8px;
  }

  .paragraph {
    text-align: center;
    margin: 20px;
  }

  .paragraph {
    font-size: 18px;
    margin: 10px;
    text-align: justify;
  }

  .missionImage {
    width: 70rem;
    margin: 3rem 0 3rem 0;
  }
}
