/* CSS para a seção principal */
.main {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  justify-content: center;
}

/* Estilos para a imagem de fundo da seção principal */
.backgroundImage {
  margin: 0;
  padding: 0;
  background-image: url('/images/det_main.jpeg');
  background-repeat: no-repeat;
}

/* Contêiner para o conteúdo principal */
.contentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('/images/det_main_inf.jpeg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* Estilos para imagens dentro do conteúdo principal */
.image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 80px;
  width: 30%;
}

/* Estilos específicos para uma imagem na primeira parte do conteúdo */
.logoImage {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-left: 2rem;
  width: 40%;
  height: 70%;
}

/* Contêiner para o conteúdo principal nível 1 */
.mainContentLevel1 {
  justify-content: space-around;
  margin-top: 40px;
  width: 60%;
  margin: 0;
  padding: 0;
  left: 0;
  background-image: url('/images/1.jpeg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center right;
}

/* Estilos para cabeçalhos <h1> dentro do conteúdo nível 1 */
.heading {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  justify-content: flex-start;
  font-size: 37px;
  font-weight: bolder;
}

/* Estilos para parágrafos de texto */
.paragraph {
  text-align: justify;
  margin-right: 3rem;
  margin-top: 10px;
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-size: 22px;
}

/* Contêiner para elementos de teste */
.contentContainer2 {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;
  left: 0;
  background-image: url('/images/2.jpeg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom left;
}

/* Contêiner para o conteúdo principal nível 2 */
/* .mainContentLevel2 {
  margin: 0;
  padding: 0;
  background-image: url('/images/3.jpeg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top left;
} */

/* Estilos para a imagem da missão/visão */
.missionImage {
  width: 70rem;
  margin: 3rem 0 3rem 0;
}

/* Estilos para telas com largura máxima de 717px */
@media (max-width: 717px) {
  .contentContainer {
    flex-direction: column;
    align-items: center;
  }
  .image {
    width: 100%;
    margin: 10px 0;
  }
}

/* Estilos para telas com largura máxima de 768px */
@media (max-width: 768px) {
  .image {
    width: 100%;
    margin: 10px 0;
  }
  .heading,
  .mainContentLevel1 {
    width: 100%;
    margin-bottom: 100px;
    margin: 10px;
  }
  .paragraph {
    font-size: 18px;
    margin: 10px;
  }
  .mainContentLevel2 {
    margin-top: 0;
    margin: 0 10px 0;
  }
}
