.carousel_container {
  display: flex;
  margin: 3rem;
}

.img {
  width: 35rem;
}

.carousel_buttons {
  display: flex;
  justify-content: space-around;
}

.nav_button {
  position: absolute;
  cursor: pointer;
  width: 64px; /* Largura das imagens de próximo e anterior */
  height: 64px; /* Altura das imagens de próximo e anterior */
  margin: 0 10px;
  margin-top: 20rem;
}

@media (max-width: 768px) {
  .nav_button {
    width: 48px; /* Reduza o tamanho das imagens para telas menores */
    height: 48px; /* Reduza o tamanho das imagens para telas menores */
  }
}

