/* .carousel_container {
  display: flex;
  margin: 3rem;
}

.img {
  width: 35rem;
}

.carousel_buttons {
  display: flex;
  justify-content: space-around;
}

.nav_button {
  position: absolute;
  cursor: pointer;
  width: 64px;
  height: 64px; 
  margin: 0 10px;
  margin-top: 20rem;
}

@media (max-width: 768px) {
  .nav_button {
    width: 48px; 
    height: 48px; 
    margin: 0 10px;
    margin-top: 15rem;
  }
}
 */

 .carousel_container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  margin: 3rem;
}

.carousel_buttons {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically */
}

.nav_button {
  position: absolute;
  cursor: pointer;
  width: 64px;
  height: 64px;
  margin: 0 10px;
  margin-top: 0; /* Remove the top margin to center vertically */
}

@media (max-width: 768px) {
  .nav_button {
    width: 48px;
    height: 48px;
    margin: 0 10px;
    margin-top: 0; /* Remove the top margin to center vertically */
  }
}

