@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@100;300&display=swap');

.divMain {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
  align-items: center;

  
}

.back_img_educ_infantil {
  background-image: url('/images/5.jpeg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.mainH1_nivel1 {
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 80px;
  width: 60%;
}

.mainH1_nivel2 {
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 80px;
  width: 70%;
}

.title {
  margin-top: 3rem;
  text-align: center;
  font-size: 33px;
  color: #073763;
  font-weight: bolder;
}

.h1 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  font-size: 25px;
  color: #073763;
  font-weight: bolder;
}

.text {
  text-align: justify;
  margin-right: 25px;
  font-size: 18px;
  margin-bottom: 1rem;
}

.text_proposta {
  text-align: justify;
  margin: 0 25px 0 25px;
  font-size: 18px;
}

.img_nivel1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 80px;
  width: 30%;
}

.img_nivel2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 80px;
  height: 25rem;
  width: 20%;
}

.img_nivel3 {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 80px;
  height: 25rem;
  width: 30%;
}

.div_paragraph {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: -5rem 5rem 0 0;
}

.paragraph {
  color: #073763;
  font-weight: bolder;
}

.paragraph_nivel2 {
  color: #073763;
  font-weight: bolder;
}

.paragrafh_nivel3 {
  margin-top: -6rem;
  margin-left: 59rem;
  color: #073763;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
  .mainH1_nivel1,
  .mainH1_nivel2 {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px; 
  }
  .img_nivel1,
  .img_nivel2 {
    width: 80%;
    margin: 20px auto;
  }
  .div_paragraph {
    justify-content: center;
    margin-top: 10px; 
    margin-right: 0; 
  }

  .paragraph {
    margin-left: 15px;
  }

  .text {
    font-size: 16px;
    margin: 0 15px 0 15px;
    text-align: center;
    text-align: justify;
  }
}
