.main {
  background-color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.div_main {
  margin: 3rem 5rem;
}

.h1 {
  font-size: 35px;
  font-weight: bolder;
  margin-bottom: 1rem;
  color: #1D1463;
}

@media (max-width: 1230px) {
  .main {
    background-color: #FFFFFF;
    min-height: 100vh; 
  }  

  .div_main {
    text-align: center;
    margin: 0;
  }

  .img {
    max-width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 12rem;
  }
}