.main {
  background-color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.div_main {
  margin: 3rem 5rem;
}

.h1 {
  font-size: 35px;
  font-weight: bolder;
  margin-bottom: 1rem;
  color: #1D1463;
}

@media (max-width: 1230px) {
  .div_main {
    height: 24.5rem;
  }
}