@import url('https://fonts.googleapis.com/css?family=Sofia');

.main {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Sofia';
  background-color: rgba(0, 0, 0, 0.863);
  height: 100%;
  align-items: center;
  justify-content: center;
}

.h1 {
  margin-top: 25px;
  font-size: 25px;
  background: -webkit-linear-gradient(left, #97d9d9, #ec55b7);
  background: -moz-linear-gradient(left, #97d9d9, #ec55b7);
  background: -ms-linear-gradient(left, #97d9d9, #ec55b7);
  background: -o-linear-gradient(left, #97d9d9, #ec55b7);
  background: linear-gradient(to right, #97d9d9, #ec55b7);
  border-radius: 12px;
  padding: 5px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gif {
  margin: 15px;
  height: 250px;
  width: 30%;
}

.link {
  background: -webkit-linear-gradient(left, #97d9d9, #ec55b7);
  background: -moz-linear-gradient(left, #97d9d9, #ec55b7);
  background: -ms-linear-gradient(left, #97d9d9, #ec55b7);
  background: -o-linear-gradient(left, #97d9d9, #ec55b7);
  background: linear-gradient(to right, #97d9d9, #ec55b7);
  border-radius: 20px;
  padding: 5px;
}
