@import url('https://fonts.googleapis.com/css?family=Sofia');

.main {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Sofia';
  background-color: rgba(0, 0, 0, 0.863);
  justify-content: center;
  color: white;
}

.h1 {
  font-size: 30px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.img {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  height: 120px;
  width: 120px;
}

.paragrafh {
  margin-bottom: 15px;
}